# Ignore virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore test files and local scripts
tests/
run_local_pipeline.py

# Ignore version control and metadata
.git/
.gitignore
.DS_Store

# Ignore editor/IDE settings
.vscode/
*.swp
*.swo

# Ignore previous build artifacts
lambda-layer.zip
build/
dist/

# Ignore logs and temp files
*.log
*.tmp
