*.zip
.cache/
.env
.ps1

# Virtual environment
venv/

# Compiled Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Local scripts
run_local_pipeline.py

# System & editor files
.DS_Store
*.swp

# Build artifacts
lambda-layer.zip
build/
dist/

# Git itself
.git/
